 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles

$header-font: 'Permanent Marker', cursive;
$text-font: 'Special Elite', cursive;






body {
  background: black;
}

header {
  margin: 0 auto;
  color: red;
  text-align: center;
}

h1 {
  font-family: $header-font;
  font-size: 50px;
}

.form {
  position: absolute;
  display: inline-block;
  width: 200px;
}

h2 {
  font-family: $header-font;
  text-align: center;
  color: red;
  margin-top: 0;
}

.dropdown {
  outline: none;
  display: inline-block;
  height: 50px;
  width: 200px;
}

//HEALTH BUTTON


.add-health {
  margin-top: 50px;
  border: none;
  background: black;
  outline: none;
  width: 200px;
  height: 150px;
}

.add-health span {
  color: red;
  font-size: 70px;
}

.add-health h4 {
  margin: 0;
  background: #C0C0C0;
  height: 50px;
  border: solid #353535 1px;
  border-radius: 20px;
  box-shadow: 6px 10px 0 0 #353535;
  font-size: 30px;
  font-family: $text-font;
  padding-top: 10px;
}

.add-health h4:active {
  box-shadow: 3px 5px 12px 0 #F7F700;
  margin: 5px 0 0 0;
}
/* .add-health :active {
  color: black;
} */



//FIGHT BUTTONS

.fight-button {
  outline: none;
  margin: 50px 0 5px;
  display: inline-block;
  width: 200px;
  height: 50px;
  font-size: 30px;
  font-family: $text-font;
  padding-top: 10px;
  border: solid #353535 1px;
  border-radius: 20px;
  box-shadow: 6px 10px 0 0 #353535;
}

.fight-button:active {
  box-shadow: 3px 5px 12px 0 #F7F700;
  margin: 55px 0 0 0;
}


.attack1   {
  outline: none;
  display: inline-block;
  margin: 30px 0 5px;
  height: 50px;
  width: 200px;
  font-size: 30px;
  font-family: $text-font;
  padding-top: 10px;
  border: solid #353535 1px;
  border-radius: 20px;
  box-shadow: 6px 10px 0 0 #353535;
}

.attack1:active {
  box-shadow: 3px 5px 12px 0 #F7F700;
  margin: 35px 0 0 0 ;
}

.attack2 {
  outline: none;
  display: inline-block;
  margin-top: 30px;
  height: 50px;
  width: 200px;
  font-size: 25px;
  font-family: $text-font;
  padding-top: 10px;
  border: solid #353535 1px;
  border-radius: 20px;
  box-shadow: 6px 10px 0 0 #353535;
}

.attack2:active {
  box-shadow: 3px 5px 12px 0 #F7F700;
  margin: 35px 0 0 0;
}

.fight-area {
  position: absolute;
  left: 15%;
  margin: auto auto;
  height: 500px;
  width: 70%;
  background: url('http://slateman.net/images/gaming/backgrounds/sf2ww-blanka.gif');
  background-size: 150%;
  background-repeat: no-repeat;

}
.fighter-image img {
  height: 200px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);

}

.fighter-image {
  position: absolute;
  top: 270px;
  left: 150px;
  animation: fight 8s linear infinite;
}

@keyframes fight {
  0% {
    transform: translate(0, 0);
  }

  8% {
    transform: translate(33px, -10px);
  }

  17% {
    transform: translate(67px, 0);
  }

  25% {
    transform: translate(100px, -10px);
  }

  33% {
    transform: translate(133px, 0);
  }

  42% {
    transform: translate(167px, -10px);
  }

  50% {
    transform: translate(200px, 0);
  }

  58% {
    transform: translate(167px, -10px);
  }

  67% {
    transform: translate(133px, 0);
  }

  75% {
    transform: translate(100px, -10px);
  }

  83% {
    transform: translate(66px, 0);
  }

  92% {
    transform: translate(33px, -10px);
  }

  100% {
    transform: translate(0, 0);
  }

}

.fighter-image .fireball {
  position: absolute;
  bottom: 100px;
  left: 80px;
  height: 30px;
  animation: fire 4s linear infinite;
}

@keyframes fire {
  0% {
    transform: translate(0,0);
  }

  100% {
    transform: translate(600px, 0);
  }
}

.enemy-image {
  position: absolute;
  top: 270px;
  left: 500px;
  animation: fight 8s linear infinite;
}

.enemy-image img {
  height: 200px;

}




.text-area {
  position: absolute;
  top: 680px;
  left: 15%;
  border: inset #1D1F21 12px;
  height: 100px;
  width: 70%;
  background: radial-gradient(ellipse, #363636, #1D1F21);
  text-align: center;

}

.text {
  display: inline-block;
  font-family: $text-font;
  color: white;
  font-size: 30px;
  margin-top: 25px;
}
