 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles

$header-font: 'Permanent Marker', cursive;
$text-font: 'Special Elite', cursive;






body {
  background: black;
}

header {
  margin: 0 auto;
  color: red;
  text-align: center;
}

h1 {
  font-family: $header-font;
  font-size: 50px;
}

.form {
  position: absolute;
  display: inline-block;
  width: 200px;
}

h2 {
  font-family: $header-font;
  text-align: center;
  color: red;
  margin-top: 0;
}

.dropdown {
  outline: none;
  display: inline-block;
  height: 50px;
  width: 200px;
}

//HEALTH BUTTON


.add-health {
  margin-top: 50px;
  border: none;
  background: black;
  outline: none;
  width: 200px;
  height: 150px;
}

.add-health span {
  color: red;
  font-size: 70px;
}

.add-health:active span {
  visibility: hidden;
}

.add-health h4 {
  margin: 0;
  background: #C0C0C0;
  height: 50px;
  border: solid #353535 1px;
  border-radius: 20px;
  box-shadow: 6px 10px 0 0 #353535;
  font-size: 30px;
  font-family: $text-font;
  padding-top: 10px;
}

.add-health h4:active {
  box-shadow: 3px 5px 12px 0 #F7F700;
  margin: 5px 0 0 0;
}
/* .add-health :active {
  color: black;
} */



//FIGHT BUTTONS

.fight-button {
  outline: none;
  margin: 50px 0 5px;
  display: inline-block;
  width: 200px;
  height: 50px;
  font-size: 30px;
  font-family: $text-font;
  padding-top: 10px;
  border: solid #353535 1px;
  border-radius: 20px;
  box-shadow: 6px 10px 0 0 #353535;
}

.fight-button:active {
  box-shadow: 3px 5px 12px 0 #F7F700;
  margin: 55px 0 0 0;
}


.attack1   {
  outline: none;
  display: inline-block;
  margin: 30px 0 5px;
  height: 50px;
  width: 200px;
  font-size: 30px;
  font-family: $text-font;
  padding-top: 10px;
  border: solid #353535 1px;
  border-radius: 20px;
  box-shadow: 6px 10px 0 0 #353535;
}

.attack1:active {
  box-shadow: 3px 5px 12px 0 #F7F700;
  margin: 35px 0 0 0 ;
}

.attack2 {
  outline: none;
  display: inline-block;
  margin-top: 30px;
  height: 50px;
  width: 200px;
  font-size: 25px;
  font-family: $text-font;
  padding-top: 10px;
  border: solid #353535 1px;
  border-radius: 20px;
  box-shadow: 6px 10px 0 0 #353535;
}

.attack2:active {
  box-shadow: 3px 5px 12px 0 #F7F700;
  margin: 35px 0 0 0;
}

//GAME OVER

.blood {
  margin: 0 0 0 216px;
  z-index: 2;
  position: absolute;
  width: 70%;
  height: 500px;
  overflow: hidden;
}

/* .blood:hover .blood-top {
  top: 0;
  opacity: .95;
  transition-duration: 4s;
} */

.blood-top {
  position: absolute;
  top: -1000px;
  margin: 0;
  width: 100%;
  height: 720px;
  background: #9E0000;
  opacity: .8;
}

.blood-top img{
  width: 100%;
  opacity: .9;
  z-index: 2;
}


.game-over {
  font-size: 80px;
  margin: 0;
  text-align: center;
  padding-top: 200px;
  margin-bottom: 400px;
}

// VICTORY

.victory {
  margin: 0 0 0 216px;
  width: 70%;
  height: 500px;
  position: absolute;
  z-index: 2;
  text-align: center;
  overflow: hidden;
}

.victory-cont {
  background: url("http://i271.photobucket.com/albums/jj140/99alongway/Confetti.gif");
  position: absolute;
  width: 100%;
  height: 500px;
  top: -500px;
}

.victory:hover .victory-cont {
  top: 0;
  transition-duration: 2s;
}

.victory:hover .win {
  animation-delay: 4s;
  animation: winner 1s linear;
}

@keyframes winner {
  0% {
    opacity: 0;
    font-size: 10px;
  }

  90% {
    opacity: 1;
    font-size: 90px;
  }

  100% {
    opacity: 1;
    font-size: 80px;
  }
}

.victory img {
  width: 100%;
  height: 300px;
}

.win {
  margin-top: 210px;
  color: blue;
  font-size: 80px;
}


// FIGHT AREA

.fight-area {
  overflow: hidden;
  position: absolute;
  left: 15%;
  margin: auto auto;
  height: 500px;
  width: 70%;
   background: url('http://twistedsifter.files.wordpress.com/2013/05/animated-gifs-of-fighting-game-backgrounds-24.gif');
   /*('http://twistedsifter.files.wordpress.com/2013/05/animated-gifs-of-fighting-game-backgrounds-6.gif')*/
  /*('http://slateman.net/images/gaming/backgrounds/sf2ww-blanka.gif')*/
  background-size: /*150*/120%;
  background-repeat: no-repeat;
  z-index: 1;

}

// health bar styling
.health_bar_container {
  height: 50px;
  width:300px;
  border-radius: 3px;
  background:RGBA(175, 17, 28,1);
  display: inline-block;
}

.health {
    height: 50px;
    width: 300px;
    border-radius: 3px;
    background: RGBA(0, 245, 5, 1)
}

.health_bar_container2 {
  height: 50px;
  width:300px;
  border-radius: 3px;
  background:RGBA(175, 17, 28,1);
  display: inline-block;
  float: right;
   @include transform(rotate(180deg));
}

.health2 {
    height: 50px;
    width: 300px;
    border-radius: 3px;
    background: RGBA(0, 245, 5, 1);
}


.fighter-image img {
  height: 200px;

// HEY CHAD!!!

/*   -moz-transform: scaleX(-1);
-o-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
transform: scaleX(-1); */

}

.fighter-image {
  position: absolute;
  top: 270px;
  left: 150px;
  animation: fight 8s linear infinite;
}

@keyframes fight {
  0% {
    transform: translate(0, 0);
  }

  8% {
    transform: translate(33px, -10px);
  }

  17% {
    transform: translate(67px, 0);
  }

  25% {
    transform: translate(100px, -10px);
  }

  33% {
    transform: translate(133px, 0);
  }

  42% {
    transform: translate(167px, -10px);
  }

  50% {
    transform: translate(200px, 0);
  }

  58% {
    transform: translate(167px, -10px);
  }

  67% {
    transform: translate(133px, 0);
  }

  75% {
    transform: translate(100px, -10px);
  }

  83% {
    transform: translate(66px, 0);
  }

  92% {
    transform: translate(33px, -10px);
  }

  100% {
    transform: translate(0, 0);
  }

}

.fighter-image .fireball {
  position: absolute;
  bottom: 100px;
  left: 80px;
  height: 30px;
  animation: fire 2s linear infinite;
}

@keyframes fire {
  0% {
    transform: translate(0,0);
  }

  100% {
    transform: translate(300px, 0);
  }
}

.enemy-image {
  position: absolute;
  top: 270px;
  left: 500px;
  animation: fight 8s linear infinite;
}

.enemy-image img {
  height: 200px;

}




.text-area {
  position: absolute;
  top: 680px;
  left: 15%;
  border: inset #1D1F21 12px;
  height: 100px;
  width: 70%;
  background: radial-gradient(ellipse, #363636, #1D1F21);
  text-align: center;

}

.text {
  display: inline-block;
  font-family: $text-font;
  color: white;
  font-size: 30px;
  margin-top: 25px;
}
