 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles

$header-font: 'Permanent Marker', cursive;
$text-font: 'Special Elite', cursive;






body {
  background: black;
}

header {
  margin: 0 auto;
  color: red;
  text-align: center;
}

h1 {
  font-family: $header-font;
  font-size: 50px;
}

.form {
  position: absolute;
  display: inline-block;
  width: 200px;
}

h2 {
  font-family: $header-font;
  text-align: center;
  color: red;
  margin-top: 0;
}

.dropdown {
  outline: none;
  display: inline-block;
  height: 50px;
  width: 200px;
}

.fight-button {
  outline: none;
  margin: 50px 0 5px;
  display: inline-block;
  width: 200px;
  height: 50px;
  font-size: 30px;
  font-family: $text-font;
  padding-top: 10px;
  border: solid #353535 1px;
  border-radius: 20px;
  box-shadow: 6px 10px 0 0 #353535;
}

.fight-button:active {
  box-shadow: 3px 5px 12px 0 #F7F700;
  margin: 55px 0 0 0;
}


.attack1   {
  outline: none;
  display: inline-block;
  margin: 230px 0 5px;
  height: 50px;
  width: 200px;
  font-size: 30px;
  font-family: $text-font;
  padding-top: 10px;
  border: solid #353535 1px;
  border-radius: 20px;
  box-shadow: 6px 10px 0 0 #353535;
}

.attack1:active {
  box-shadow: 3px 5px 12px 0 #F7F700;
  margin: 235px 0 0 0 ;
}

.attack2 {
  outline: none;
  display: inline-block;
  margin-top: 30px;
  height: 50px;
  width: 200px;
  font-size: 25px;
  font-family: $text-font;
  padding-top: 10px;
  border: solid #353535 1px;
  border-radius: 20px;
  box-shadow: 6px 10px 0 0 #353535;
}

.attack2:active {
  box-shadow: 3px 5px 12px 0 #F7F700;
  margin: 35px 0 0 0;
}

.fight-area {
  position: absolute;
  left: 15%;
  margin: auto auto;
  height: 500px;
  width: 70%;
  background: url('http://slateman.net/images/gaming/backgrounds/sf2ww-blanka.gif');
  background-size: 150%;
  background-repeat: no-repeat;

}

.fighter-image {
  position: absolute;
  top: 200px;
  left: 50px;

/*   @-webkit-keyframes fighter-image {
  0% {top:200px; left: 50px;}
  17% {top: 195px, left 55px;}
  35% {top: 200px, left 60px;}
  50% {top: 195px, left 65px;}
  67% {top: 200px, left 70px;}
  84% {top: 195px, left 75px;}
  100% {top: 200px, left 80px;}
} */

  transition-duration: 3s;
}

.text-area {
  position: absolute;
  top: 680px;
  left: 15%;
  border: inset #1D1F21 12px;
  height: 100px;
  width: 70%;
  background: radial-gradient(ellipse, #363636, #1D1F21);
  text-align: center;

}

.text {
  display: inline-block;
  font-family: $text-font;
  color: white;
  font-size: 30px;
  margin-top: 25px;
}
